.game.page {
	display: none;
}

.error.page {
	display: none;
}

ul#letters {
	list-style-type: none;
}

ul#letters li {
	display: inline;
	padding-right: 20px;
	font-size: 20px;
}

#letters {
	min-height: 40px;
}

.inputWord {
	margin-left: 1em;
}

body {
	padding-top: 70px;
}